$digit-block-width: 150px;
$line-width: 15px;
$border-radius: 15px;

$mobile-display-width: 420px;
$digit-block-width-mobile: 110px;

$lines-transition-duration: .3s;
$lines-transition-step: .05s;

$line-color: #000;
$text-color: #222;
$border-color: #999;
$border-focus-color: #333;
