// base graphics

$digit-block-width: 140px;
$line-width: 15px;
$line-border-radius: 15px;

$colors: (
  'line': #000,
  'text': #222,
  'title': rgba(#222, .3),
  'shadow': rgba(#000, .3),
  'light-grey': #999,
  'grey': #555,
  'dark-grey': #333,
);

// transitions

$lines-transitions: (
  'duration': .3s,
  'step': .05s,
);

// breakpoints

$display-breakpoints: (
  'xl': 900px,
  'l': 700px,
  'm': 500px,
  's': 420px,
  'xs': 340px,
);

$reducing-coefficient-on-multiple: .8;
$digit-block-width-s: 110px;
$digit-block-width-xs: 80px;

// scale coefficients

$scale-coefficients: (
  'xl': .7,
  'l': .55,
  'm': .4,
  's': .35,
  'xs': .25,
);
