*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

input,
select,
textarea,
button {
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  font-weight: inherit;
  letter-spacing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
