*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  outline: none;
  background-color: transparent;
  letter-spacing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
