// central line transition together

.together-central-enter-active {
  transition: opacity map-get($lines-transitions, 'duration');
}

.together-central-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration')
    map-get($lines-transitions, 'duration') * .5;
}

.together-central-enter,
.together-central-leave-to {
  opacity: 0;
}

// digits transition together

.together-enter-active,
.together-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration');
}

.together-enter,
.together-leave-to {
  opacity: 0;
}

// central line transition separately

.separately-central-enter-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration');
}

.separately-central-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration')
    map-get($lines-transitions, 'step') * 5;
}

.separately-central-enter,
.separately-central-leave-to {
  opacity: 0;
}

// digits transition separately

.separately-1-enter,
.separately-1-leave-to,
.separately-2-enter,
.separately-2-leave-to,
.separately-3-enter,
.separately-3-leave-to,
.separately-4-enter,
.separately-4-leave-to {
  opacity: 0;
}

.separately-1-enter-active,
.separately-1-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration');
}

.separately-2-enter-active,
.separately-2-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration')
    map-get($lines-transitions, 'step');
}

.separately-3-enter-active,
.separately-3-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration')
    map-get($lines-transitions, 'step') * 2;
}

.separately-4-enter-active,
.separately-4-leave-active {
  transition:
    opacity
    map-get($lines-transitions, 'duration')
    map-get($lines-transitions, 'step') * 3;
}

// sidebar transition

.fade-enter-active {
  transition:
    opacity .1s,
    transform .1s;
}

.fade-leave-active {
  transition:
    opacity .1s,
    transform .1s;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
